html{
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 14px;
  color: #1f2f3d;
  -webkit-font-smoothing: antialiased;
  body{
    margin: 0px;
    height: 100%;
  }
  /*
  * @desc:滚动条
  **/
  //::-webkit-scrollbar
  //{
  //  width: 5px;  /*滚动条宽度*/
  //  height: 5px;  /*滚动条高度*/
  //}
  ///*定义滚动条轨道 内阴影+圆角*/
  //::-webkit-scrollbar-track
  //{
  //  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  //  border-radius: 0px;  /*滚动条的背景区域的圆角*/
  //  background-color: #c0c4cc;/*滚动条的背景颜色*/
  //}
  ///*定义滑块 内阴影+圆角*/
  //::-webkit-scrollbar-thumb
  //{
  //  border-radius: 0px;  /*滚动条的圆角*/
  //  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  //  background-color: #808080;  /*滚动条的背景颜色*/
  //}
}
