html {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  color: #1f2f3d;
  -webkit-font-smoothing: antialiased;
}
body{
  margin: 0px;
  height: 100%;
}
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  background-color: #0943c5;
}

::-webkit-scrollbar:horizontal {
  border-radius: 0 0 .5rem .5rem
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #1461dd;
  box-shadow: inset 0 0 0 1px #66b1ff;
  border: .2rem solid #0943c5;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #465267
}

/*element-ui-reset*/

.el-loading-mask{
  background: #012aab;
}
.el-table th, .el-table tr{
  background: #1a78ff;
  color: #b5c8d9;
}
.el-table--striped .el-table__body tr td{
  background: #2fa2f5;
  color: #00fffc;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background: #1461dd;
  color: #b5c8d9;
}
